@import "@mixins/mixin";

.root {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    min-height: 40px;
    padding: 12px 0;

    font-family: $MediumFont;
    font-size: 14px;
    line-height: 15px;
}
